body{
    margin: 0;
    font-family: Georgia, serif;
    line-height: 1.5;
}

h1{
    margin: 0;
}

.navigationBar{
    display: inline-grid;
    margin: 20px;
    grid-template-columns: auto auto auto auto auto;
}

.top a{
    color: white;
    padding: 0.375em 0.5em 0.2em;
    text-decoration: none;
    font-size: 1.375em;
    
}

#reservation{
    background-size: 10px;
    color: black;
    background-color: white;
    margin-right: 10px;
}

.navigationBar a:hover{
    text-decoration: underline;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#social{
    position: relative;
    bottom: 100px;
    left: 40px;
}

#address{
    float: right;
    position: relative;
    bottom: 100px;
    right: 20px;
}

.scrolledPage{
    background-attachment: fixed;
}

.section1{
    background:rgba(255, 255, 255, 0.7);
}

.tagline{
    display: block;
    color: black;
    font-size: 40px;
    padding: 200px 0px;
    text-align: center;
}

.section2{
    background:rgba(224, 81, 53, 0.7);
}

.restaurant{
    display: grid;
    grid-template-columns: 940px 920px;
    text-align: center;
    font-size: 25px;
}

.restaurantImage img{
    display: block;
}

.restaurantHeader{
    padding-top: 200px;
    height: 100px;
    width: 300px;
}

button{

    margin-top: 20px;
    font-size: 20px;
    border: 1px solid #000000;
    background:none;
    padding: 15px;
    font-family: filosofia, Georgia, serif
}

button:hover {
    background-color: #FFFFFF;
    border: none;
    transition: 0.3s;
}

.section3{
    background:rgba(255, 105, 0, 0.7);
}

.christmas{
    display: grid;
    grid-template-columns: 940px 920px;
    text-align: center;
    font-size: 25px;
}

.christmasImage img{
    height: 100%;
    width: 100%;
    display: block;
}

.christmasHeader{
    padding-top: 200px;
    height: 100px;
    width: 300px;
}

.contactPage{
    background:rgba(233, 227, 164, 1);
    display: grid;
    grid-template-columns: 940px 920px;
    text-align: center;
    font-size: 25px;
}

.contactPage h2{
    margin-top: 10%;
    font-weight: normal;
}

.contactPage form{
    line-height: 2;
    margin-bottom: 10%;
    font-weight: normal;
}

input{
    background:none;
    padding: 10px 100px 20px 10px;
}

#message{
    padding-bottom: 100px;
}

input[type=submit]{
    text-transform: uppercase;
    width: 284px;
    padding: 12px 20px;
    font-family: Georgia, serif;
}

input[type=submit]:hover{
    background:rgba(253, 247, 184, 1);
}

footer{
    background:rgba(233, 227, 164, 1);
}

footer p{
    margin: 0;
    color: #000000;
    text-align: center;
}